version: '3.8'

services:
  measurements-api:
    build:
      context: .
      dockerfile: measurements-api/src/TechChallenge.Measurements.Api/Dockerfile
    ports:
      - "5153:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
    networks:
      - co2-network

  emissions-api:
    build:
      context: .
      dockerfile: emissions-api/src/TechChallenge.Emissions.Api/Dockerfile
    ports:
      - "5139:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
    networks:
      - co2-network

  calculator-api:
    build:
      context: .
      dockerfile: calculator-api/src/TechChallenge.Calculator.Api/Dockerfile
    ports:
      - "5173:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - MeasurementsApi__BaseUrl=http://measurements-api:8080
      - EmissionsApi__BaseUrl=http://emissions-api:8080
    depends_on:
      - measurements-api
      - emissions-api
    networks:
      - co2-network

networks:
  co2-network:
    driver: bridge

